<table class="appointment-table">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>PhoneNo</th>
        <th>Email</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>PinCode</th>
        <th>Trainer Preference</th>
        <th>Physiotherapist Requirement</th>
        <th>Package</th>
        <th>Weeks</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.fname }}</td>
        <td>{{ appointment.lname }}</td>
        <td>{{ appointment.age }}</td>
        <td>{{ appointment.phone }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ appointment.address }}</td>
        <td>{{ appointment.city }}</td>
        <td>{{ appointment.state }}</td>
        <td>{{ appointment.country }}</td>
        <td>{{ appointment.pincode}}</td>
        <td>{{ appointment.trainerPreference }}</td>
        <td>{{ appointment.physioRequired }}</td>
        <td>{{ appointment.package }}</td>
        <td>{{ appointment.weeks }}</td>
        <td>{{ appointment.amount }}</td>
      </tr>
    </tbody>
  </table>